{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "Jwt": {
    "Key": "YOUR_JWT_KEY_HERE",
    "Issuer": "PostsAPI",
    "Audience": "PostsAPI"
  },
  "AdminAccount": {
    "Email": "admin@admin.com",
    "Password": "YOUR_PASSWORD_HERE"
  }
}